# Chỉ cài những thư viện Unsloth thực sự cần (tránh xung đột bản có sẵn của Kaggle)
--no-deps xformers trl peft accelerate bitsandbytes triton
unsloth[kaggle-new] @ git+https://github.com/unslothai/unsloth.git
pyyaml
datasets
